<!--
This template loads for the 'tab.product-detail' state (app.js)
'product' is a $scope variable created in the productsCtrl controller (controllers.js)
The productsCtrl pulls data from the products service (service.js)
The products service returns an array of product data
-->
<ion-view view-title="{{product.name}}">
  <ion-content class="padding">
    <img ng-src="{{product.face}}" style="width: 64px; height: 64px">
    <h3>Notes</h3>
    <p>
      {{product.notes}}
    </p>
  </ion-content>
</ion-view>
