<ion-view view-title="Products">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="product in products"
                type="item-text-wrap" href="#/tab/product/{{product.id}}">
        <img ng-src="{{product.face}}">
        <h2>{{product.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
