<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
      <button class="button button-balanced">
          button-light
      </button>

      <ion-checkbox ng-model="isChecked1">Checkbox Label</ion-checkbox>
      <ion-checkbox ng-model="isChecked2">Checkbox Label</ion-checkbox>
      <ion-checkbox ng-model="isChecked3">Checkbox Label</ion-checkbox>
      
      <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Airplane Mode</ion-toggle>


  </ion-content>

</ion-view>
