<ion-view view-title="Products test title">
    <ion-content>
        <h5>Xml is load from 'http://localhost:8100/js/shopWeteam/products.xml'</h5>
        <div class="list card" ng-repeat="data_item in dataSet">
            <div class="item item-avatar">
                <h2>{{data_item.name}} {{data_item.short_description}}</h2>
            </div>

            <div class="item item-body" >
                <img class="full-image" ng-src="{{ data_item.image_url}}" height="200"/>
                <p> regular price with tax:<h1> {{data_item.regular_price_with_tax}}</h1></p>
                <p>{{data_item.description}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a ng-href="#/tab/productDemo/product-detail{{data_item.entity_id}}">More info about the {{data_item.name}}</a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>


<div  >
    <ion-list>
        <ion-item class="item-avatar" ng-repeat="data_item in dataSet">
            <div class="resultwrapper">
                <h2>{{data_item.name}} {{data_item.short_description}}</h2>
                <h3>First sold in {{data_item.introyear}}</h3>
                <!--<img ng-src="{{IMAGE_LOCATION + data_item.image_url}}" />-->
                <img ng-src="{{ data_item.image_url}}" height="200"/>

                <p>{{data_item.description}}</p>
                <a ng-href="#/tab/productDemo/product{{data_item.entity_id}}images.xml">More info about the {{data_item.name}}</a>
                <p> regular_price_with_tax: {{data_item.regular_price_with_tax}}</p>
            </div>
        </ion-item>
    </ion-list>

    <!--<ul>-->
        <!--<li ng-repeat="data_item in dataSet">-->
            <!--<div class="resultwrapper">-->
                <!--<h2>{{data_item.name}} {{data_item.model}}</h2>-->
                <!--<h3>First sold in {{data_item.introyear}}</h3>-->
                <!--&lt;!&ndash;<img ng-src="{{IMAGE_LOCATION + data_item.image_url}}" />&ndash;&gt;-->
                <!--<img ng-src="{{ data_item.image_url}}" />-->

                <!--<p>{{data_item.desc}}</p>-->
                <!--<a href="{{data_item.link}}" target="_blank">More info about the {{data_item.model}}...</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
</div>
    </ion-content>
</ion-view>
