<!--
This template loads for the 'tab.product-detail' state (app.js)
'product' is a $scope variable created in the productsCtrl controller (controllers.js)
The productsCtrl pulls data from the products service (service.js)
The products service returns an array of product data
-->
<ion-view view-title="Detail about: {{dataSet[0].entity_id}} , productId {{productId}}">
  <ion-content class="padding">
      <!--{{dataSet[0]}}-->
    <img ng-src="{{dataSet[0].image_url}}" style="height: 264px">
    <h3>About product</h3>
      short_description:
    <p>
      {{dataSet[0].short_description}}
    </p>
  </ion-content>
</ion-view>
