<ion-view view-title="C">
    <ion-nav-title>
        Chees tab pizza <span class="badge">{{finalPriceModel.length}}</span>


        <ion-header-bar align-title="right" class="bar-positive">
            <div class="row">
                <div class="col col-33 col-offset-67">
                    <div class="buttons">
                        <button class="button">Bascket</button>
                    </div>
                </div>
            </div>
        </ion-header-bar>
    </ion-nav-title>

    <ion-content>
        <div class="container row responsive-sm">
            <div class="col col-50">
        <span class="badge"
              ng-if="finalPriceModel[0]">{{finalPriceModel.length}}</span>

                    Chees tab

                    <ion-list class="list-group">
                    <ion-item ng-repeat="chees in cheese" class="list-group-item">
                    ID: {{chees.id}};
                    <img class="slide"
                    ng-swipe-right="showPrev()" ng-swipe-left="showNext()"
                    ng-src="{{chees.picture}}"/>
                    <b> Name:</b> {{chees.name}} ,Price:{{chees.price | currency}}
                    <div ng-controller="DropdownCtrl">

                    <button ng-click="add(chees.price , chees.id , chees.name ,radioModel, 1)" class="button button-balanced">add</button>
                    </div>
                    </ion-item>
                    </ion-list>
            </div>

            <div class="col col-33">
                <b>Final pizza components: </b> <i ng-class="" > pizzaSize size:</i>{{pizzaSize}}
                <ol>
                    <ion-item ng-repeat="item in finalPriceModel"
                              style ="border-bottom: 1px solid rgb(153, 153, 153);padding: 5px;">
                        <b>{{item.name}}</b>: {{item.price | currency}} <br/>
                        Fill: {{item.radioModel}}
                        <b>x {{item.quantity}}</b>
                        <br/>
                        <button type="button" ng-click="clearQuantity(item); deleteItem(item); " class="button button-assertive">
                            DeleteItem <i class="ion-close-circled"></i>
                        </button>
                    </ion-item>
                </ol>

                <div class="col">
                    <a class="button button-energized " ng-href="#/tab/pizza/sous">Go to page with sous </a>
                    <button class="button button-energized " ng-if="finalPriceModel[0] || pizzaSize" ng-click="sentPost()">Order : {{finalPrice}}</button>
                    <button class="button button-assertive" ng-if="finalPriceModel[0]" ng-click="clear(finalPriceModel);  clearQuantity(item);">Reset pizza</button>
                </div>
                <hr>
                <div ng-if="finalPriceModel[0]">total item order ({{totalCounter}}) , finalPriceModel:<br/> {{finalPriceModel}}</div>
            </div>

        </div>


    </ion-content>
    <!--</div>-->
</ion-view>

