
<ion-view view-title="Choose meat, total: {{getPizzaSize()}} + {{finalPrice | currency}}">

    <ion-content>

  <div class="container row responsive-sm">

      <div class="col col-50">
        <span class="badge" 
                      ng-if="finalPriceModel[0]">{{finalPriceModel.length}}</span>
        <tabset>
            <!--meat tab-->
            <tab heading="{{tabs[0].title}}">
                                
                <ion-list class="list">
                    <ion-item ng-repeat="meat in meats" class="list-group-item">
                        ID: {{meat.id}}
                        <img class="slide" 
                             ng-swipe-right="showPrev()" ng-swipe-left="showNext()"  
                             ng-src="{{meat.picture}}"/>
                        Name: {{meat.name}}
                        Price: {{meat.price | currency}}
<form ng-controller="DropdownCtrl">

    <div class="btn-group">

        <ion-radio class="btn btn-primary" ng-model="radioModel" value="Half Left" ng-click="update()">Left</ion-radio>
        <ion-radio class="btn btn-primary" ng-model="radioModel" value="Full">Full size fill</ion-radio>
        <ion-radio class="btn btn-primary" ng-model="radioModel" value="'Half Right'" >Right</ion-radio>

    </div>
    <!--<pre>{{radioModel || 'null'}}</pre>-->
    <b ng-model="quantity">x {{quantity}}</b>
    <tt> Filler = {{radioModel | json}}</tt><br/>
    <button  ng-click="increaseQuantity();add(meat.price , meat.id , meat.name ,radioModel, quantity);" class="button button-balanced">+</button>
    <button  ng-click="decreaseQuantity();decreaseItem(meat.price , meat.id , meat.name ,radioModel, quantity);" class="button button-balanced">-</button>
    
</form>
                    </ion-item>
                </ion-list>
            </tab>

        </tabset>
        
    </div>
    
    <div class="col col-33">
        <b>Final pizza components: </b> <i ng-class="" > pizzaSize size:</i>{{pizzaSize.setSizeFactory}}
        <ol>           
            <ion-item ng-repeat="item in finalPriceModel"
                style ="border-bottom: 1px solid rgb(153, 153, 153);padding: 5px;"> 
                <b>{{item.name}}</b>: {{item.price | currency}} <br/>
                Fill: {{item.radioModel}} 
                <b>x {{item.quantity}}</b>
                <br/>
                <button type="button" ng-click="clearQuantity(item); deleteItem(item); " class="button button-assertive">
                   DeleteItem <i class="ion-close-circled"></i>
                </button>
            </ion-item>
        </ol>

        <div class="col">
            <button class="button button-energized " ng-if="finalPriceModel[0] || pizzaSize" ng-click="sentPost()">Order : {{getPizzaSize() + finalPrice | currency}}</button>
        </div>
        <hr>
        <div ng-if="finalPriceModel[0]">total item order ({{totalCounter}}) , finalPriceModel:<br/> {{finalPriceModel}}</div>
    </div>

    </div>

</ion-content>

    <ion-footer-bar align-title="left" class="bar-positive">

        <h1 class="title">footer Title!</h1>
        <div class="buttons" ng-click="doSomething()">
            <a class="button button-positive " ng-href="#/tab/pizza/cheese" ng-click="setFinalModel(finalPriceModel)">Go to page with chees</a>
        </div>
    </ion-footer-bar>


</ion-view>
