<ion-view view-title="Size choose {{finalPrice + pizzaSize.setSizeFactory | currency}}">
    <ion-content>
        Select sizePizza:
        <ion-list>

            <ion-item class="item"
                      ng-repeat="pizzaSizze in sizePizza"
                      type="item-text-wrap"
                      href="#/tab/pizza/meat"
                      ng-click="setSize(pizzaSizze.price)">

                <!--if u want to have dynamic link href="#/tab/pizza/{{pizzaSizze.id}}-->

                 <b>{{pizzaSizze.price | currency}}</b>


                <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
                    <!--Delete-->
                <!--</ion-option-button>-->
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>