
<ion-view view-title="Choose sous, total price: {{finalPrice + pizzaSize.setSizeFactory | currency}}">
    <ion-content>
  <div class="container row responsive-sm">
      <a class="button button-positive " ng-href="#/tab/pizza/cheese" ng-click="setFinalModel(finalPriceModel)">Go to page with chees</a>

      <div class="col col-50">
        <span class="badge" 
                      ng-if="finalPriceModel[0]">{{finalPriceModel.length}}</span>
        <tabset>
            <!--meat tab-->
            <tab heading="{{tabs[0].title}}">
                                
                <ion-list class="list">
                    <ion-item ng-repeat="item in souse" class="list-group-item">
                        ID: {{item.id}}
                        <img class="slide" 
                             ng-swipe-right="showPrev()" ng-swipe-left="showNext()"  
                             ng-src="{{item.picture}}"/>
                        Name: {{item.name}}
                        Price: {{item.price | currency}}
                    </ion-item>
                </ion-list>
            </tab>

        </tabset>
        
    </div>
    
    <div class="col col-33">
        <b>Final pizza components: </b> <i ng-class="" > pizzaSize size:</i>{{pizzaSize.setSizeFactory}}
        <ol>           
            <ion-item ng-repeat="item in finalPriceModel"
                style ="border-bottom: 1px solid rgb(153, 153, 153);padding: 5px;"> 
                <b>{{item.name}}</b>: {{item.price | currency}} <br/>
                Fill: {{item.radioModel}} 
                <b>x {{item.quantity}}</b>
                <br/>
                <button type="button" ng-click="clearQuantity(item); deleteItem(item); " class="button button-assertive">
                   DeleteItem <i class="ion-close-circled"></i>
                </button>
            </ion-item>
        </ol>

        <div class="col">
            <a class="button button-positive " ng-href="#/tab/pizza/cheese" ng-click="setFinalModel(finalPriceModel)">Go to page with chees: {{finalPriceModel }}</a>
            <button class="button button-energized " ng-if="finalPriceModel[0] || pizzaSize" ng-click="sentPost()">Order : {{finalPrice + pizzaSize.setSizeFactory | currency}}</button>
        </div>
        <hr>
        <div ng-if="finalPriceModel[0]">total item order ({{totalCounter}}) , finalPriceModel:<br/> {{finalPriceModel}}</div>
    </div>

    </div>

</ion-content>

    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button">Left Button</button>
        </div>
        <h1 class="title">footer Title!</h1>
        <div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>
    </ion-footer-bar>


</ion-view>
